@media only screen and (max-width: 768px) {
  body {
    overflow: hidden;
  }
  .Container {
    width: 100vw;
    height: 100vh;
  }
  .TitleContainer {
    transform: translateY(-10%);
  }
  .SurveyContainer {
    border-left: none;
  }

  #nameInput,
  #emailInput,
  #numberInput {
    width: 75vw;
  }
  #questionForm,
  #surveyIntroForm {
    padding: 20px;
    text-align: center;
  }
  #questionForm {
    overflow-y: scroll;
  }

  .surveyInput {
    margin: 5px;
  }
  .cbContainer {
    margin: 0;
    padding: 0;
  }
  .cbContainer input {
    margin: 0px 5px;
  }

  #submitBtn {
    margin-top: 20px;
  }
}
