@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}
main {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.Container {
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
}
.TitleContainer {
  background-color: white;
  width: 100vw;
  height: 100vh;
  /* transition: all 0.3s ease; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #784520;
  padding: 20px;
}
.TitleContainer h1 {
  text-align: center;
}

#catCoffee {
  width: 150px;
  padding: 0;
  margin: 0;
}
#takeSurveyButton {
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
  border: 2px solid #784520;
  color: #784520;
  background-color: white;
  cursor: pointer;
  transition: all 0.2s ease;
}
#takeSurveyButton:hover {
  background-color: #784520;
  color: white;
  letter-spacing: 8px;
}

.SurveyContainer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 100%;
  transition: all 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  overflow: hidden;
}
.SurveyForm {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
#survey-form {
  width: 100%;
  height: 100%;
  position: relative;
}

.input {
  display: flex;
  flex-direction: column;
  width: 100vh;
  height: 100vh;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.input label {
  width: 50%;
  color: #784520;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 5px;
}
.userInput input {
  width: 40vw;
  padding: 10px;
  font-size: 16px;
  border: 1px solid black;
  margin-top: 5px;
  outline: none;
  border-radius: 5px;
  background-color: white;
}
.userInput input::placeholder {
  opacity: 0.8;
}
.choices {
  margin-top: 3px;
  margin-bottom: 15px;
  font-weight: bold;
}
#nameForm,
#emailForm,
#numberForm,
#surveyIntroForm,
#questionForm {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

#surveyIntroForm,
#questionForm {
  animation: fadeIn ease 3s;
  left: 0;
  display: none;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.nextButton,
.backButton {
  position: absolute;
  right: 5%;
  bottom: 5%;
  border: none;
  background-color: white;
  color: #784520;
  font-size: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.nextButton:hover,
.backButton:hover {
  transform: scale(1.2);
}

.backButton {
  position: absolute;
  left: 5%;
  bottom: 5%;
  right: none;
}

.errorMessage {
  display: none;
  color: red;
  position: absolute;
  top: 52%;
}
.cbContainer {
  display: flex;
  justify-content: center;
}
.cbContainer input:hover {
  cursor: pointer;
}

#submitBtn {
  margin-top: 20px;
}

input[type="radio"] {
  cursor: pointer;
}
input[type="checkbox"] {
  font-weight: bold;
}

input[type="radio"]:checked:after {
  width: 14px;
  height: 14px;
  border-radius: 14px;
  position: relative;
  background-color: #784520;
  content: "";
  display: inline-block;
  visibility: visible;
}
