@media only screen and (max-width: 768px) {
  #myworks {
    flex-direction: column;
    width: 100vw;
  }
  .item {
    height: 150px;
    width: 100px;
  }
}

@media only screen and (max-height: 600px) {
  #header img {
    transform: scale(1.5);
    left: -100px;
  }
}
