@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #eeeeee;
}
#main-container {
  width: 100vw;
}
#alert {
  text-align: center;
}
#myworks {
  display: flex;
}

.item {
  height: 300px;
  width: 200px;
  margin: 5px;
}
.item a img {
  width: 100%;
}

.container {
  display: flex;
}
