@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}
#main{
    display:flex;
}
#videobg{
    width:100vw;
    height:100%;
}
#todobtn{
    position:absolute;
    top:1rem;
    right:1rem;
    z-index: 10;
    background-color: rgba(0,0,0,0);
    border:none;
    font-size:30px;
    color:white;
    cursor: pointer;
    transition: all 0.2s ease;
    text-align: center;
    margin-bottom: 0;
    display:none;
}
#todobtn.active{
    display:block;
}
#todobtn:active{
    transform: scale(0.8);
}
/* FOCUS CONTAINER START */
#focus-container{
    position:absolute;
    top:0;
    left:0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100vh;
    color: white;
}
#clock{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size:11vw;
    font-family: 'Orbitron', sans-serif;
}
.focus-inputField{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.focus-inputField h1{
    cursor: default;
    font-size:3vw;
    font-weight: 100;
}
#inputName{
    background-color: rgba(0,0,0,0);
    border-bottom: 1px solid #fff;
    border-top:0;
    border-left:0;
    border-right:0;
    outline: 0;
    font-size:3vw;
    color:white;
    font-weight: bold;
    text-align: center;
}
#inputName.inactive{
    display:none;
}

#focus-inputField2{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display:none;
}
#focus-inputField2.active{
    display:flex;
}
#focusgreeting{
    margin:0;
    font-weight: 100;
}
#focusInput{
    background-color: rgba(0,0,0,0);
    border-bottom: 1px solid #fff;
    border-top:0;
    border-left:0;
    border-right:0;
    outline: 0;
    font-size:3vw;
    color:white;
    font-weight: bold;
    text-align: center;
}
#focusInput.inactive{
    display:none;
}
#yourname{
    font-weight:bold;
    text-transform: uppercase;
}
#yourfocus{
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.quote-wrapper{
    margin-top:8rem;
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.quote{
    font-style: italic;
    outline:none;
}
.author{
    padding-top:2rem;
}
.quote-buttons{
    display:flex;
    justify-content: space-around;
    margin-top: 1rem;
    width:300px;
}
#newQuote, #editQuote{
    margin-top: 1rem;
    border:0;
    padding: .25rem 1rem;
    border-radius: 3px;
    color:black;
    background-color: white;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    transition: all 0.4s ease;
}
#newQuote:hover, #editQuote:hover{
    transform: scale(1.1);
}
/* FOCUS CONTAINER END */
/* TODOLIST START */
#todo-container{
    position:absolute;
    top:-1000px;
    right:0px;
    width:30vw;
    height:100vh;
/*     display:none; */
    transition: all 0.4s ease;
}
#todo-container.active{
/*     display:block; */
    top:0;
    right:0;
}
.wrapper{
    position:absolute;
    top:2rem;
    background-color: rgba(255,255,255,0.8);
    width:90%;
    height:90%;
    overflow-y: auto;
    margin:auto;
    border-radius: 10px;
    color:#202020;
    padding:25px;
}
.wrapper header{
    font-size: 30px;
    font-weight: 600;
}
.wrapperheader{
    display:flex;
    justify-content: space-between;
}
#todoclosebtn{
    border:0;
    background:none;
    font-size:1.5rem;
    color: #a8a8a8;
    z-index: 8;
    cursor:pointer;
}
.wrapper .inputField{
    display:flex;
    height:45px;
    width:100%;
    margin:20px 0;
}
.inputField input{
    width:85%;
    height:100%;
    border: 1px solid #ccc;
    font-size: 17px;
    border-radius: 3px;
    padding-left:15px;
    outline: none;
}
.inputField button{
    width:60px;
    height:100%;
    border:none;
    background-color:coral;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 5px;
    outline: none;
    opacity: 0.6;
    pointer-events: none;
}
.inputField button.active{
    opacity: 1;
    pointer-events: auto;
}
.wrapper .todoList{
    padding:0;
    max-height: 450px;
    overflow-y: auto;
}
.todoList li{
    list-style: none;
    height:45px;
    line-height: 45px;
    position: relative;
    background: rgba(255,255,255,0.5);
    border-radius: 3px;
    margin-bottom:8px;
    padding: 0 15px;
    cursor:default;
    overflow: hidden;
}
.todoList li span{
    position:absolute;
    right:-45px;
    color:white;
    width:45px;
    text-align: center;
    border-radius: 0 3px 3px 0;
    background:#e74c3c;
    cursor: pointer;
    transition: all 0.4s ease;
}
.todoList li:hover span{
    right:0px;
}
.wrapper .footer{
    display:flex;
    width:100%;
    margin-top:20px;
    align-items: center;
    justify-content: space-between;
}
.footer button{
    border:none;
    outline: none;
    background-color:coral;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 3px;
    padding:6px 10px;
    opacity: 0.6;
    pointer-events: none;
}
.footer button.active{
    opacity: 1;
    pointer-events: auto;
}
/* TODOLIST END */