html{
    scroll-behavior: smooth;
}
body{
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    background-image: url("https://media.vogue.fr/photos/5c3622a4bc36ebdcec6d1f8f/master/w_3600,h_2400,c_limit/gettyimages_89038515_jpg_6034.jpg?lang=eng");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100%;
}
main{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/*--NAVIGATION--*/
nav{
    background-color: #0F1012;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    top: 0;
    z-index: 10;
}
nav a{
    display: inline-block;
    color:#D9DBDF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    transition: ease-out;
    transition-duration: 0.2s;
}
nav a:hover{
    font-size:3rem;
    color:#D9DBDF;
}
/*--END OF NAVIGATION--*/

p{
    color:white;
    margin: 0 10rem;
    text-align: justify;
}
h2{
    color:white;
    margin: 0 10rem;
    text-align: justify;
}
/*--IMAGE--*/
#img-div{
    background-color: #0F1012;
    width:100%;
}
#img-div > img{
    width: 100%;
    height: 100vh;
    
}
#image{
    position:relative;
    top:0;
    left:0;
}

/*--Title & Caption--*/
#heading{
    position:absolute;
    display:flex;
    flex-direction: column;
    top: 70%;
    left: 5%;
    text-align: center;
    margin-top: 0;
}
#title{
    color: white;
    font-size: 5rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1rem;
    padding: 0;
    margin: 0;
}
#img-caption{
    color:white;
    padding: 0;
    margin: 0;
    letter-spacing: 1rem;
}

/*--ABOUT (tribute info)--*/
#tribute-info {
    background-color:#0F1012;
    color:white;
    text-align: center;
}




/*--ALBUMS--*/
#albums{
    width: 100%;
}
#albums > h1{
    color:white;
    text-align: center;
}
#albums > h3 {
    color:white;
    text-align: center;
}
.album-container{
    margin: 1rem 10rem;
    text-align: center;

}
.album-container > img {
    width: 100px;
    margin: 1rem 1rem;
    transition: ease-out;
    transition-duration: 0.2s;
    border-radius: 50%;
    border: 2px solid black;
}
.album-container > img:hover{
    width: 250px;
    border-radius: 0;
}


/*--ARTICLES*/
#articles{
    background-color: #0F1012;
    width: 100%;
}
#articles > h1{
    color:white;
    text-align: center;
}

/*--READ MORE button--*/
#bottom{
    background-color: #0F1012;
    margin-bottom: 0;
    width:100%;
}
#tribute-link{
    text-align: center;
}
#tribute-link a{
    text-decoration: none;
    font-weight: bold;
    padding: 1rem .5rem;
    border: 2px solid white;
    color: white;
    transition: ease-out;
    transition-duration: 0.2s;
}
#tribute-link > a:hover{
    padding: 1rem 1rem;
    letter-spacing: 0.25rem;
    color: white;
    background-color: #FA514C;
    border:0;
}

footer{
    text-align: center;
    color:white;
}